
/* ID's */

#NavBar {
    position: fixed;
    border: 10px;
    margin-top: -10px;
    margin-left: -10px;
    height: 100%;
    width: 7%;
    z-index: 100;
    background-color: cadetblue;
}
#TopBar {
    position: fixed;
    border: 10px;
    margin-top: -10px;
    margin-left: 6.4%;
    height: 10%;
    width: 100%;
    z-index: 101;
    opacity: 1.0;
    background-color: rgba(88, 69, 54, 0.753);
    background-image: url('../TopBar.jpg');
    background-repeat: no-repeat;
}
#pageTitle {
    position: fixed;
    margin-top: 4.1%;
    margin-left: 7%;
    padding-left: 10%;
    font-size: 220%;
    width: 100%;
    z-index: 102;
    opacity: 1.0;
    color: darkslategray;
    background-color: white;
}
#pageBody {
    position: absolute;
    margin-top: 10%;
    margin-left: 9%;
    margin-right: 4%;
    margin-bottom: 15%;
    padding-bottom: 5%;
    font-size: normal;
    color:darkslateblue;
}

.navigationBar {
    margin-top:100px;
}

.navigationItem {
    margin-left: -30px;
}

.inactive {
    background-color: lightcyan;
}
.inactive>a {
    color:darkslateblue;
}

.active {
    background-color: lightcoral;
}
.active>a {
    color: aliceblue;
}
.bibleQuote {
    background-color: lightcyan;
    margin-left: 2%;
    margin-right: 3%;
}
.leftImage {
    float: left;
    padding: 2px;
    margin: 15px 18px 10px 18px;
    border: 1px solid black;
}
.rightImage {
    float: left;
    margin: 3px 12px 3px 0px;
    border: 1px solid black;
}
li {
    margin-left: 5px;
}
footer {
    font-size: small;
    position: fixed;
    margin-left: 0px;
    padding-left: 210px;
    bottom: 0px;
    height: 20px;
    width: 100%;
    background: cadetblue;
}