
/* ID's */

#NavBar {
    position: fixed;
    border: 10px;
    margin-top: -10px;
    margin-left: -10px;
    height: 100%;
    width: 7%;
    z-index: 100;
    background-color: cadetblue;
}
#TopBar {
    position: fixed;
    border: 10px;
    margin-top: -10px;
    margin-left: 6.4%;
    height: 10%;
    width: 100%;
    z-index: 101;
    opacity: 1.0;
    background-color: rgba(88, 69, 54, 0.753);
    background-image: url('../TopBar.jpg');
    background-repeat: no-repeat;
}
#pageTitle {
    position: fixed;
    margin-top: 4%;
    margin-left: 10%;
    font-size: x-large;
    z-index: 100;
    opacity: 1.0;
    color: peru;
    background-color: white;
}
#pageBody {
    position: absolute;
    margin-top: 5%;
    margin-left: 10%;
    font-size: normal;
    color: blueviolet;
}

.navigationBar {
    margin-top:100px;
}

.navigationItem {
    margin-left: -30px;
}

.inactive {
    background-color: lightcyan;
}

.active {
    background-color: lightcoral;
}
.bibleQuote {
    background-color: lightcyan;
    margin-left: 2%;
    margin-right: 3%;
}