
#NavBar {
    position: fixed;
    border: 10px;
    margin-left: 0%;
    height: 100%;
    width: 5%;
    z-index: 100;
    background-color: cadetblue;
}
#TopBar {
    position: fixed;
    border: 10px;
    margin-left: 5%;
    height: 10%;
    width: 100%;
    z-index: 100;
    opacity: 1.0;
    background-color: rgba(88, 69, 54, 0.753);
    background-image: url('../TopBar.jpg');
    background-repeat: no-repeat;
}
#pageTitle {
    position: fixed;
    margin-top: 10%;
    margin-left: 6%;
    font-size: x-large;
    z-index: 100;
    opacity: 1.0;
    color: peru;
    background-color: white;
}
#pageBody {
    position: absolute;
    margin-top: 12%;
    margin-left: 6%;
    font-size: normal;
    color: blueviolet;
}