<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- these paths may need changed depending upon tree location -->
    <script type="text/javascript" src="../js/main.js"></script>
    <link rel="stylesheet" href="../res/main.css">
    <title>{PAGE-TITLE}</title>
</head>
<body>
    <div id="TopBar">&nbsp;</div>
    <div id="NavBar">&nbsp;
        <div id="NavBar">&nbsp;
            <li class="navigationBar">
                <ul class="navigationItem">Home</ul>
                <ul class="navigationItem">Documents</ul>
                <ul class="navigationItem">Social Media</ul>
                <ul class="navigationItem">Torah Today</ul>
                <ul class="navigationItem">Testimony</ul>
                <ul class="navigationItem">Templates</ul>
                <ul class="navigationItem">About</ul>
            </li>
        </div>
    </div>
</body>
</html>